@use "@/app/styles/variables" as *;
.dailyCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
  &__day {
    @include text-format(title-text);
    width: 100px;
  }
  &__condition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    width: 8rem;
  }
  &__condition-icon {
    max-width: 2.25rem;
    max-height: 2.25rem;
  }
  &__condition-text {
    @include text-format(small-text);
  }
  &__temps {
    @include text-format(body-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    max-width: 26.125rem;
  }
  &__temp-low {
  }
  &__temp-range {
    display: block;
    position: relative;
    border-radius: 0.75rem;
    height: 0.375rem;
    width: 22.5rem;
    background-color: $color-black;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 20%;
      border-radius: 0.75rem;
      height: 100%;
      width: 6.25rem;
      background-color: $color-blue;
    }
  }
  &__temp-high {
  }
}
